<h1>{{updatedName}} ： 基本資料修改</h1>

<form class="form align-self-center" [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)" > <!--Reactive Form: [fromGroup]="XXX" -->
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
              <label for="createDate">建立日期</label>
              <input type="text" class="form-control" id="createDate" name="createDate" formControlName="createDate" readonly> <!-- fromControlNmae="fieldName"-->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="lastModifyDate">修改日期</label>
              <input type="text" class="form-control" id="lastModifyDate" name="lastModifyDate" formControlName="lastModifyDate" readonly>
            </div>
          </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="account">帳號</label>
          <input type="text" class="form-control" id="account" name="account" placeholder="帳號" formControlName="account" readonly> <!-- fromControlNmae="fieldName"-->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">姓名</label>
              <span *ngIf="updateForm.get('name').touched || updateForm.get('name').dirty"> <!-- Validation from name -->
                 <span *ngIf="updateForm.get('name').errors?.required" class='formError'>必填欄位!!!</span> <!-- Required -->
                 <span *ngIf="updateForm.get('name').hasError('pattern')" class='formError'> 姓名不能有空格 </span> <!-- Pattrn -->
             </span>
          <input type="text" class="form-control" id="name" name="name" placeholder="姓名" formControlName="name" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputEmail">狀態</label>
          <select class="form-control" id="status" name="status" formControlName="status">
            <option value="Y">可使用</option>
            <option value="A">申請中</option>
            <option value="D">已註銷</option>
            <option value="F">已凍結</option>
            <option value="N">已停用</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
              <span *ngIf="updateForm.get('email').touched || updateForm.get('email').dirty"> <!-- Validation from name -->
                 <span *ngIf="updateForm.get('email').hasError('pattern')" class='formError'> email格式不對 </span> <!-- Pattrn -->
              </span>
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" formControlName="email">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="contactMobileTel">連絡電話</label>
            <input type="text" class="form-control" id="contactMobileTel" name="contactMobileTel" placeholder="連絡電話" formControlName="contactMobileTel">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="cardNo">門禁卡號</label>
            <input type="text" class="form-control" id="cardNo" name="cardNo" placeholder="門禁卡號" formControlName="cardNo">
          </div>
        </div>
      </div>
      <input type="text" hidden formControlName="uuid" name="uuid" id="uuid">
    <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid">修改確認</button>
    <button type="submit" class="btn btn-warning" (click)="deny()">取消</button>
    
  </form>

