<form [formGroup]="queryForm" (ngSubmit)="querySubmit(queryForm.value)">
  <div class="row">

    <div class="col-sm-3">
     <div class="form-group">
      <label for="account">帳號:</label>
      <input type="text" class="form-control" name="account" formControlName="account"/>
     </div>
    </div>

    <div class="col-sm-3">
    <div class="form-group">
    <label for="name">姓名:</label>
    <input type="text" class="form-control" name="name" formControlName="name"/>
    </div>
    </div>
    
    <div class="col-sm-3">
    <div class="form-group">
    <label for="cardNo">門禁卡號:</label>
    <input type="text" class="form-control" name="cardNo" formControlName="cardNo"/>
    </div>
    </div>

    <div class="col-sm-3">
    <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" name="email" formControlName="email"/>
    </div>
    </div>

    <div class="align-self-center">
      <div class="form-group">
      <span>
        <button type="submit" class="btn btn-primary form-control">查詢</button>
      </span>
      </div>
    </div>
  </div>
</form>
